@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-light-green: oklch(60.307% 0.13444 160.95 / 0.143);
}

body {
  margin: 0;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.dt-layout-row button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em .5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: oklch(60.307% 0.13444 160.95 / 0.143);
  cursor: pointer;
  transition: border-color 0.25s;
}

.dt-layout-row:not(.dt-layout-table) {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--bg-light-green);
}

.dt-layout-row {
  padding: 1rem .7rem;
}

.dt-paging nav {
  display: flex;
  gap: .3rem;
}

.dt-column-header {
  cursor: pointer;
}

.dt-input:not(select) {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: .6rem;
}



@media screen and (width <=600px) {

  .dt-layout-row:not(.dt-layout-table) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    background-color: var(--bg-light-green);
  }

  .dt-layout-row {
    padding: 1rem .7rem;
  }

  .dt-paging nav {
    display: flex;
    gap: .3rem;
  }

  .dt-column-header {
    cursor: pointer;
  }

  .dt-input:not(select) {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: .6rem;
  }

  .dt-layout-cell tbody td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
  }

  .dt-column-header {
    display: flex;
  }
}